<div class="well well-lg">
    <h1>Jack Maney</h1>

    <div class="well">
        <p>Email:
            <a href="mailto:jackmaney@gmail.com">jackmaney@gmail.com</a>
        </p>
        <p>Website:
            <a href="https://jackmaney.com">jackmaney.com</a>
        </p>
    </div>

    <div class="well">
        <ul>
            <li>
                Data Science professional with a decade of experience in the telecommunications, ad tech, financial service, and healthcare sectors.
            </li>
            <li>
                Able to derive insights and extract business value from data sets with thousands to billions of rows.
            </li>
            <li>
                Building prototypes of data products using relational databases, Apache Spark, MPP systems, and Python
            </li>
            <li>Working closely with Data Engineers to productionalize product prototypes.</li>
            <li>Researching and implementing algorithms from white papers and academic literature.</li>
            <li>Creating and A/B testing recommender systems.</li>
            <li>Experienced problem-solver with very strong quantitative skills.</li>
        </ul>
    </div>

    <h2>Experience</h2>

    <div class="well">
        <h3>nbkc bank</h3>
        <p>Senior Data Engineer, AVP - November 2022--Present</p>

        <ul>
            <li>
                Automated a report used by the Deposits team.
            </li>
            <li>
                Fixed incorrect assignments of Personal/Business accounts for survey data from customers.
            </li>
            <li>
                Altered Power BI dashboard of internal expenses to correctly show sub-account transactions. Assisted in showing results to the CFO and gathering feedback.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>Shopify</h3>
        <p>Data Scientist - June 2022--September 2022</p>

        <p>Before being laid off, I was part of the Plans & Pricing Data Science team.</p>
        <ul>
            <li>
                Helped identify suspicious leads by implementing a markov chain to detect gibberish subdomain names.
            </li>
            <li>
                Took over the (manually run) referral program and worked with data engineers to automate this process.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>agilon health</h3>
        <p>Lead Data Scientist - July 2021--June 2022</p>
        
        <ul>
            <li>
                Worked on models to predict avoidable inpatient visits and medication adherence.
            </li>
            <li>
                Worked with the ML Ops team to validate datasets that have been moved to the Cloud.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>Cerner Corporation</h3>
        <p>Data Scientist - July 2020--June 2021</p>

        <ul>
            <li>
                Used AWS SageMaker, BlazingText, and association rule mining to analyze and enhance the Chart Assist Ontology. Created a prototype that could make terminologists up to five times more efficient at matching medical codes to related ontology concepts.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>TruFactor</h3>
        <p>Lead Data Scientist - November 2018--May 2020</p>

        <p>
            <small>
            After Pinsight Media was acquired by InMobi, <a href="https://www.inmobi.com/company/press/inmobi-launches-trufactor-a-secure-data-platform-for-telcos/" target="_blank">there was a reorganization into a few business units, one of which was TruFactor.</a>
            </small>
        </p>

        <ul>
            <li>
                Consolidated Point of Interest (POI) data from multiple sources to build a single POI database used
                across the company.
            </li>

            <li>
                Combined the POI dataset with GPS and network location data to build a Visits dataset. Worked closely
                with product managers to ensure that the product aligned with customer expectations. Performed several
                white glove analyses for customer trials, which received positive feedback.
            </li>

            <li>
                Worked closely with Data Engineering to productionalize the Visits product, and to quickly deploy
                hotfixes and feature enhancements.
            </li>

            <li>
                Used multiple data sources--including scraping and third-party APIs--to build and maintain a mapping
                from URLs to publishers.
            </li>

            <li>
                Mentored members of the Data Science and Business Intelligence teams.
            </li>

        </ul>
    </div>

    <div class="well">

        <h3>Pinsight Media</h3>
        <p>Data Scientist III - October 2016--October 2018</p>

        <p><small>Pinsight Media <a href="https://www.inmobi.com/company/press/inmobi-acquires-u.s.-based-advertising-and-data-company-pinsight-media/" target="_blank">was acquired by InMobi</a> in 2018.</small></p>

        <ul>
            <li>
                Built recommender engines for our on-device monetization products. Worked with development teams to
                ensure that the back
                end would be set up for AB testing.
            </li>
            <li>
                Streamlined the ETL processes for building AB testing dashboards.
            </li>
            <li>
                Contributed to a project of predicting demographic attributes for users in our real-time bidding (RTB)
                system. This resulted
                in collaborations with Marketing that led to two whitepapers:

                <ul>
                    <li>
                        <a href="https://whitepaper.pinsightmedia.com/age" target="_blank">
                            Guess My Age: Age Discrepancies Across Ad Exchanges
                        </a>
                    </li>
                    <li>
                        <a href="https://pinsightmedia.com/blog/apptopicmodeling" target="_blank">
                            There's an App for That: But What Does It Say About My Consumer?
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                Mentoring members of the Data Science and Business Intelligence teams.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>DST's Applied Analytics Group</h3>
        <p>Senior Data Scientist - December 2013--October 2016</p>

        <ul>

            <li>Prototyped a product for acquisition of financial advisors.</li>

            <li>
                Contributed towards an Advisor Segmentation product, including a method of streamlining and summarizing the differences between segments.
            </li>

            <li>
                Built a prototype of the Mapper Algorithm (as used in Topological Data Analysis) to better understand high-dimensional data sets. The prototype is written in Python and leverages a Greenplum cluster by way of SQL templates.
            </li>

            <li>
                Built prototypes for three components of DST's Predictive Wholesaling product, and assisted the AAG Development team in productionizing the prototypes.
            </li>

            <li>
                Created and prototyped a Share Retention metric that provides a measurement of "stickiness" of fund holdings that does not directly depend on price.
            </li>

            <li>Assisted in building models for a proof of concept for a client.</li>

            <li>
                Mentored and taught Python to a few members of the Networking team, to facilitate the creation of a Flask web app to automate some types of network change requests.
            </li>

            <li>Mentoring other members of the Data Science team.</li>
        </ul>

    </div>

    <div class="well">
        <h3>BA Services</h3>
        <p>Data Scientist - May 2013--November 2013</p>

        <ul>
            <li>
                Created and cross-validated probit regression models to find the most significant attributes upon which to sort call queues in order to increase customer retention.
            </li>

            <li>Built an ETL pipeline to import data from a new dialer system.</li>

            <li>
                Delivered a proposal outlining options for a Data Warehouse solution, including pros and cons of each option.
            </li>

            <li>Built, Validated, and Deployed business intelligence reports using QlikView.</li>
        </ul>
    </div>

    <div class="well">
        <h3>C2FO</h3>
        <p>Implementation Specialist (Contract) - January 2013--May 2013</p>

        <ul>
            <li>
                Optimized the C2FO algorithm for Market Clearing Events, making it run an average of two orders of magnitude faster.
            </li>
            <li>Organized the restructuring of several KPI business intelligence reports.</li>
            <li>Built, tested, and deployed user management tools for account managers.</li>
        </ul>
    </div>

    <div class="well">
        <h3>Adknowledge</h3>
        July 2010--November 2012
        <br> Titles Held:
        <br>
        <ul>
            <li>Sr Data Analyst and Mathematician - January 2012--November 2012</li>
            <li>Data Analyst and Mathematician - February 2011--January 2012</li>
            <li>Data Analyst - July 2010-February 2011</li>
        </ul>

        <ul>
            <li>
                Performed data mining and summarized results that contributed to the winning of a $50,000 advertiser contract.
            </li>

            <li>
                Presented technical and mathematical concepts to non-technical audiences, including several layers of management and a venture capital investor.
            </li>

            <li>
                Developed an application in Perl using
                <a href="https://metacpan.org/module/DBI" target="_blank">DBI</a> for
                <a href="https://en.wikipedia.org/wiki/K-means%2B%2B" target="_blank">k-means++ clustering</a>. 
                This application is able to handle data sets of millions of rows with 1--100 variables.
            </li>

            <li>
                Found a way to implement a regression algorithm--on a dataset with 30 million rows and 250 variables--that was previously thought impossible to implement due to scale.
            </li>

            <li>
                Built, implemented, deployed, and maintained an ad category recommendation system for advertisers, including developing and measuring performance metrics.
            </li>

            <li>Implemented a genetic algorithm framework to use for behavioral targeting algorithms.</li>

            <li>
                Maintained and documented the ETL pipelines to the Data Analytics team, consisting of over 200 scripts in Perl and Python interfacing with Greenplum, PostgreSQL, Oracle, MySQL, MS SQL, and ActiveMQ.
            </li>

            <li>
                Refactored and maintained critical business intelligence reports used by machine learning scientists.
            </li>

            <li>
                Prototyped a flexible, extensible ETL system to reduce a lot of boilerplate code in existing ETL scripts.
            </li>

            <li>
                Created a web-based data dictionary to store metadata about tables in our warehouse. The front end was written in PHP with SQLite on the back-end to store the metadata.
            </li>

            <li>Was considered a resident expert of our data warehouse.</li>

            <li>Contributed to the on-boarding of two interns and two full-time employees.</li>
        </ul>

    </div>

    <div class="well">
        <h3>University of South Dakota</h3>
        <p>Assistant Professor - August 2004--May 2008</p>

        <ul>
            <li>Six peer-reviewed mathematical publications.</li>

            <li>Directed two undergraduate Honors Theses and a Master's Thesis in mathematics.</li>

            <li>Sole organizer and director of a regional undergraduate mathematics conference.</li>

            <li>
                Taught several courses, including College Algebra, Trigonometry, Calculus (I--III), Foundations of Mathematics, Matrix Theory, and Abstract Algebra.
            </li>

            <li>Served and chaired several committees, including the Curriculum &amp; Instruction committee.</li>
        </ul>

    </div>

    <h2>Skills</h2>

    <div class="well">
        <h3>Languages and Technologies</h3>

        <ul>
            <li>
                Programming Languages:
                <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>Bash</li>
                    <li>R</li>
                    <li>Java</li>
                    <li>Kotlin</li>
                    <li>Scala</li>
                    <li>Perl</li>
                </ul>
            </li>

            <li>
                Cloud Technologies:
                <ul>
                    <li>AWS</li>
                    <li>S3</li>
                    <li>AWS Sagemaker</li>
                    <li>EMR</li>
                    <li>EC2</li>
                    <li>Azure DevOps</li>
                    <li>Azure Cosmos</li>
                    <li>Azure Key Vault</li>
                </ul>
            </li>

            <li>Apache Spark, Apache Hadoop, HDFS</li>

            <li>Business Intelligence: Tableau, Microsoft Power BI, QlikView</li>

            <li>
                Some of the Python libraries that I've used: <a href="https://spark.apache.org/docs/latest/api/python/index.html" target="_blank">PySpark</a>,
                BlazingText, 
                <a href="https://pypi.org/project/h3/" target="_blank">H3</a>, 
                <a href="https://pypi.org/project/Shapely/" target="_blank">Shapely</a>, 
                <a href="https://pandas.pydata.org/" target="_blank">Pandas</a>, 
                <a href="https://www.numpy.org/" target="_blank">NumPy</a>, 
                <a href="https://www.scipy.org/" target="_blank">SciPy</a>, 
                <a href="https://scikit-learn.org/stable/" target="_blank">scikit-learn</a>, 
                <a href="https://requests.readthedocs.io/en/master/" target="_blank">Requests</a>, 
                <a href="https://matplotlib.org/" target="_blank">matplotlib</a>, 
                <a href="https://web.stanford.edu/~mwaskom/software/seaborn/" target="_blank">seaborn</a> 
            </li>


            <li>Apache Airflow</li> 

            <li>
                IDEs/Text Editors Used: PyCharm, IntelliJ IDEA, Visual Studio Code, Eclipse
            </li>

            <li>Data Formats: CSV, XSLX, JSON, GeoJSON, Parquet, XML</li>

            <li>Docker</li>

            <li>Version Control: Git, SVN, GitHub, GitLab, Assembla</li>

            <li>Task Tracking: JIRA, Azure Devops Boards, Pivotal Tracker, Confluence, Assembla</li>

            <li>Operating Systems: Linux (Amazon Linux, openSUSE, Ubuntu, CentOS, RHEL), macOS, Windows, WSL, WSL2</li>

            <li>
                APIs used:
                <ul>
                    <li>SurveyMonkey (customer survey data)</li>
                    <li>Ramp (tracking internal expenses, creating card numbers on the fly)</li>
                    <li>Aylien (text analysis, NLP)</li>
                    <li>42matters (mobile app metadata)</li>
                    <li>Infegy's Social Radar API (social media analytics)</li>
                    <li>Facebook Ads API</li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="well">

        <h3>Other Skills</h3>

        <ul>
            <li>Mathematics</li>

            <li>Python</li> 

            <li>Topological Data Analysis</li>

            <li>Data mining</li>

            <li>Data visualization</li>

            <li>Implementing algorithms and ideas gleaned from academic publications</li>
        </ul>

    </div>

    <h2>Education</h2>

    <div class="well">

        <h3>North Dakota State University</h3>

        <p>Ph.D. Mathematics, May 2004</p>

        <p>B.S Mathematics, Dec 1999</p>

    </div>

    <h2>Training Courses and Professional Development</h2>

    <div class="well">

        <ul>
            <li>AWS Training from Amazon Web Services, 2018</li>

            <li>Apache Cassandra training from Learning Tree International, 2017</li>

            <li>Apache Spark training from Databricks, 2017</li>

            <li>Hadoop and MapReduce Training from Hortonworks, 2015</li>

            <li>Data Anonymization Training from Privacy Analytics, 2015</li>

            <li>Greenplum User Training from Pivotal, 2014</li>

            <li>
                Attended <a href="https://www.kdd.org/kdd2014/" target="_blank">KDD 2014</a>
            </li>

            <li>QlikView Developer Training from Qlik, 2013</li>

            <li>Noble Dialer Operations Training from Noble Systems, 2013</li>

            <li>Java Training from Webucator, 2012</li>

            <li>PostgreSQL Training from Webucator, 2010</li>

        </ul>

    </div>
