<div class="well well-lg">
    <h1>Jack Maney</h1>

    <div class="well">
        <p>Email:
            <a href="mailto:jackmaney@gmail.com">jackmaney@gmail.com</a>
        </p>
        <p>Website:
            <a href="http://jackmaney.com">jackmaney.com</a>
        </p>
    </div>

    <div class="well">
        <ul>
            <li>Able to derive insights and extract business value from data sets with thousands to billions of rows.</li>
            <li>Writing and optimizing complex SQL queries.</li>
            <li>Building prototypes of data products using relational databases, Apache Spark, MPP systems, and Python.</li>
            <li>Researching and implementing algorithms from white papers and academic literature.</li>
            <li>A/B testing recommender systems.</li>
            <li>Experienced problem-solver with very strong quantitative skills.</li>
        </ul>
    </div>

    <h2>Experience</h2>

    <div class="well">
        <h3>Pinsight Media</h3>
        <p>Data Scientist III - October 2016--Present</p>

        <ul>
            <li>
                Built recommender engines for our on-device monetization products. Worked with development teams to ensure that the back
                end would be set up for AB testing.
            </li>
            <li>
                Contributed to a project of predicting demographic attributes for users in our real-time bidding (RTB) system. This resulted
                in collaborations with Marketing that led to two whitepapers:

                <ul>
                    <li>
                        <a href="http://whitepaper.pinsightmedia.com/age">Guess My Age: Age Discrepancies Across Ad Exchanges</a>
                    </li>
                    <li>
                        <a href="https://pinsightmedia.com/blog/apptopicmodeling">There's an App for That: But What Does It Say About My Consumer?</a>
                    </li>
                </ul>
            </li>
            <li>
                Mentoring members of the Data Science and Business Intelligence teams.
            </li>
        </ul>
    </div>

    <div class="well">
        <h3>DST's Applied Analytics Group</h3>
        <p>Senior Data Scientist - December 2013--October 2016</p>

        <ul>

            <li>Prototyped a product for acquisition of financial advisors.</li>

            <li>Contributed towards an Advisor Segmentation product, including a method of streamlining and summarizing the differences
                between segments.</li>

            <li>Built a prototype of the Mapper Algorithm (as used in Topological Data Analysis) to better understand high-dimensional
                data sets. The prototype is written in Python and leverages a Greenplum cluster by way of SQL templates.</li>

            <li>Built prototypes for three components of DST's Predictive Wholesaling product, and assisted the AAG Development
                team in productionizing the prototypes.</li>

            <li>Created and prototyped a Share Retention metric that provides a measurement of "stickiness" of fund holdings
                that does not directly depend on price.</li>

            <li>Assisted in building models for a proof of concept for a client.</li>

            <li>Mentored and taught Python to a few members of the Networking team, to facilitate the creation of a Flask web
                app to automate some types of network change requests.</li>

            <li>Mentoring other members of the Data Science team.</li>
        </ul>

    </div>

    <div class="well">
        <h3>BA Services</h3>
        <p>Data Scientist - May 2013--November 2013</p>

        <ul>
            <li>Created and cross-validated probit regression models to find the most significant attributes upon which to sort
                call queues in order to increase customer retention.</li>

            <li>Built an ETL pipeline to import data from a new dialer system.</li>

            <li>Delivered a proposal outlining options for a Data Warehouse solution, including pros and cons of each option.</li>

            <li>Built, Validated, and Deployed business intelligence reports using QlikView.</li>
        </ul>
    </div>

    <div class="well">
        <h3>C2FO</h3>
        <p>Implementation Specialist (Contract) - January 2013--May 2013</p>

        <ul>
            <li>Optimized the C2FO algorithm for Market Clearing Events, making it run an average of two orders of magnitude
                faster.
            </li>
            <li>Organized the restructuring of several KPI business intelligence reports.</li>
            <li>Built, tested, and deployed user management tools for account managers.</li>
        </ul>
    </div>

    <div class="well">
        <h3>Adknowledge</h3>
        July 2010--November 2012
        <br> Titles Held:
        <br>
        <ul>
            <li>Sr Data Analyst and Mathematician - January 2012--November 2012</li>
            <li>Data Analyst and Mathematician - February 2011--January 2012</li>
            <li>Data Analyst - July 2010-February 2011</li>
        </ul>

        <ul>
            <li>Performed data mining and summarized results that contributed to the winning of a $50,000 advertiser contract</li>

            <li>Presented technical and mathematical concepts to non-technical audiences, including several layers of management
                and a venture capital investor.</li>

            <li>Developed an application in Perl using
                <a href="https://metacpan.org/module/DBI">DBI</a> for
                <a href="http://en.wikipedia.org/wiki/K-means%2B%2B">k-means++ clustering</a>. This application is able to handle data sets of millions of rows with 1--100 variables.</li>

            <li>Found a way to implement a regression algorithm--on a dataset with 30 million rows and 250 variables--that was
                previously thought impossible to implement due to scale</li>

            <li>Built, implemented, deployed, and maintained an ad category recommendation system for advertisers, including
                developing and measuring performance metrics</li>

            <li>Implemented a genetic algorithm framework to use for behavioral targeting algorithms</li>

            <li>Maintained and documented the ETL pipelines to the Data Analytics team, consisting of over 200 scripts in Perl
                and Python interfacing with Greenplum, PostgreSQL, Oracle, MySQL, MS SQL, and ActiveMQ </li>

            <li>Refactored and maintained critical business intelligence reports used by machine learning scientists</li>

            <li>Prototyped a flexible, extensible ETL system to reduce a lot of boilerplate code in existing ETL scripts</li>

            <li>Created a web-based data dictionary to store metadata about tables in our warehouse. The front end was written
                in PHP with SQLite on the back-end to store the metadata.</li>

            <li>Considered a resident expert of our data warehouse</li>

            <li>Contributed to the on-boarding of two interns and two full-time employees</li>
        </ul>

    </div>

    <div class="well">
        <h3>University of South Dakota</h3>
        <p>Assistant Professor - August 2004--May 2008</p>

        <ul>
            <li>Six peer-reviewed mathematical publications</li>

            <li>Directed two undergraduate Honors Theses and a Master's Thesis in mathematics</li>

            <li>Sole organizer and director of a regional undergraduate mathematics conference</li>

            <li>Taught several courses, including College Algebra, Trigonometry, Calculus (I--III), Foundations of Mathematics,
                Matrix Theory, and Abstract Algebra</li>

            <li>Served and chaired several committees, including the Curriculum &amp; Instruction committee</li>
        </ul>

    </div>

    <h2>Open-source Software</h2>

    <div class="well">
        <h3>
            <a href="https://github.com/jackmaney/ucc">Universal Correlation Coefficient</a>
        </h3>

        <p>At the 2011 Joint Statistical Meetings,
            <a href="http://www.amstat.org/meetings/jsm/2011/onlineprogram/AbstractDetails.cfm?abstractid=303386">a paper was presented</a> that introduced the idea of a Universal Correlation Coefficient. This coefficient measures
            the degree of dependency (but not the form of dependency) for two discrete random variables.</p>

        <p>I have written an R library that implements this Universal Correlation Coefficient. This coefficient can be used
            to automate the discovery of (potentially non-linear) relationships among pairs of discrete random variables.</p>

    </div>

    <div class="well">
        <h3>
            <a href="http://pg-utils.readthedocs.io/en/latest/?badge=latest#">pg-utils: Utilities for working with PostgreSQL</a>
        </h3>

        <p>Some handy utilities that I've written for processing data in either PostgreSQL or Greenplum.</p>

    </div>

    <div class="well">
        <h3>
            <a href="https://github.com/jackmaney/python-stdlib-list">Python Standard Library List</a>
        </h3>

        <p>Lists of names of packages in the Python standard library (for versions 2.6, 2.7, and 3.2-5), along with the code
            used to grab the list of libraries from the official Python docs. Surprisingly, this is my most popular repository
            on GitHub.</p>

    </div>

    <div class="well">
        <h3>
            <a href="https://github.com/jackmaney/Diophantus">Diophantus</a>
        </h3>

        <p>Diophantus, a pet project created to teach myself Java, originated as Mathematica code that I wrote as a graduate
            student. The original code generated examples and helped form conjectures for what became a series of two peer-reviewed
            mathematical publications.</p>
    </div>

    <h2>Skills</h2>

    <div class="well">
        <h3>Languages and Technologies</h3>

        <ul>

            <li>Apache Spark, Apache Hive, Apache Hadoop, HDFS</li>

            <li>
                Python,
                <a href="http://spark.apache.org/docs/latest/api/python/index.html">PySpark</a>,
                <a href="http://pandas.pydata.org/">Pandas</a>,
                <a href="http://www.numpy.org/">NumPy</a>,
                <a href="https://www.scipy.org/">SciPy</a>,
                <a href="http://scikit-learn.org/stable/">scikit-learn</a>,
                <a href="http://matplotlib.org/">matplotlib</a>,
                <a href="https://web.stanford.edu/~mwaskom/software/seaborn/">seaborn</a>, PyCharm
            </li>

            <li>
                Relational Databases,
                <a href="http://www.greenplum.com/">Greenplum</a> (Massively Parallel Processing Distributed System), PostgreSQL, Oracle, MySQL, Microsoft SQL
                Server, MS SQL, OLAP, SQL
            </li>

            <li>
                Perl,
                <a href="https://metacpan.org/module/Moose">Moose (OO Perl)</a>, DBI, threads, threads::shared, Thread::Queue, Template::Toolkit
            </li>

            <li>
                <a href="http://www.r-project.org/">R</a>
            </li>

            <li>
                <a href="http://www.qlikview.com/">QlikView</a>
            </li>

            <li>Java, JUnit, Eclipse</li>

            <li>JSON, Parquet</li>

            <li>Git, SVN, GitHub, GitLab, Assembla, Source Control, Version Control</li>

            <li>JIRA, Pivotal Tracker, Confluence</li>

            <li>Linux, openSUSE, Ubuntu, CentOS, RHEL, bash</li>

            <li>The
                <a href="https://42matters.com/docs/overview">42matters API</a> for app metadata</li>

            <li>
                <a href="http://infegy.com/social-media-analytics">Social Radar API</a>, Facebook Ads API</li>

        </ul>

    </div>

    <div class="well">

        <h3>Other Skills</h3>

        <ul>
            <li>Mathematics</li>

            <li>Topological Data Analysis</li>

            <li>Data mining</li>

            <li>Data visualization</li>

            <li>Implementing algorithms and ideas gleaned from academic publications</li>
        </ul>

    </div>

    <h2>Education</h2>

    <div class="well">

        <h3>North Dakota State University</h3>

        <p>Ph.D. Mathematics, May 2004</p>

        <p>B.S Mathematics, Dec 1999</p>

    </div>

    <h2>Training Courses and Professional Development</h2>

    <div class="well">

        <ul>
            <li>PostgreSQL Training from Webucator, 2010</li>

            <li>Java Training from Webucator, 2012</li>

            <li>Noble Dialer Operations Training from Noble Systems, 2013</li>

            <li>QlikView Developer Training from Qlik, 2013</li>

            <li>Attended
                <a href="http://www.kdd.org/kdd2014/">KDD 2014</a>
            </li>

            <li>Greenplum User Training from Pivotal, 2014</li>

            <li>Data Anonymization Training from Privacy Analytics, 2015</li>

            <li>Hadoop and MapReduce Training from Hortonworks, 2015</li>

            <li>Apache Spark training from Databricks, 2017</li>

            <li>Apache Cassandra training from Learning Tree International, 2017</li>

        </ul>

    </div>